@model Message

<h1>Weezer/Rivers Cuomo Stories Page</h1>
<p>Fill in the boxes below and write a story about Rivers to be posted in the stories section</p>

<form method="post" asp-action="Stories" class="container">

    <div class="mb-3">
        <label for="Title" class="form-label">Title:</label>
        <input id="Title" name="Title" class="form-control">
    </div>

    <div class="mb-3">
        <label for="Topic" class="form-label">Topic:</label>
        <input id="Topic" name="Topic" class="form-control">
    </div>

    <div class="mb-3">
        <label for="YearDate" class="form-label">Year of the Story:</label>
        <input id="YearDate" name="YearDate" class="form-control">
    </div>

    <div class="mb-3">
        <label for="StoryBody" class="form-label">Write your Story Here:</label>
        <textarea id="StoryBody" name="StoryBody" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>